
.header {
    display: flex;
    align-items: center;
    background-color: var(--green-color);
    height: 4rem;
    padding: 0 2rem;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}