header {
  z-index: 2;
}

.nav-link, .logo {
  font-family: var(--condensedblack-family);
  font-size: 1.75rem;
  color: var(--peach-color);
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  filter: var(--dropshadow);

  @media (width <= 590px){
    font-size: 1.25rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-color);
  height: 4rem;
  padding: 0 2rem;
  filter: var(--dropshadow);

  @media (width <= 600px) {
    height: 2.5rem;
  }
}

.logo {
  font-size: 2rem;
  font-family: var(--neue-family);

  @media (width <= 590px){
    font-size: 1.5rem;
  }
}

.nav-button {
  display: none;

  @media (width <= 590px){
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    filter: var(--dropshadow);
    margin-right: -.75rem;
  }
}

.nav-button-image {
  width: 2.25rem;
  height: 2.25rem;
}

.nav {
  display: flex;
  gap: 1rem;
  list-style-type: none;

  @media (width <= 590px){
    display: none;
  }
}

.mobile-closed {
  display: none;
}

.mobile-open {
  display: none;

  @media (width <= 590px){
    display: block;
    list-style-type: none;
    text-align: right;
    padding-right: 1.75rem;
    margin-top: 0;
  }
}

.mobile-active {
  position: absolute;
  left: 0;
  right: 0;
}