.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  top: 4rem;
  background-color: var(--yellow-color);
  z-index: -1;
}

.me {
  background-color: var(--peach-color);
  border: 1px solid black;
  border-radius: 50%;
  width: 25%;
  max-width: 250px;
  height: auto;
  margin: .5rem 0;
}

.info-container {
  background-color: var(--green-color);
  width: 80vw;
  transform: skew(3deg, 12deg);
  filter: var(--dropshadow);
  z-index: 1;
}

.hello {
  font-family: var(--condensedblack-family);
  color: white;
  font-size: 4vw;
  padding: 0 1rem;
  margin-top: -.25rem;
  transform: skew(-3deg, 0deg);
}

span {
  font-family: var(--neue-family);
  font-size: 5vw;
  color: var(--peach-color);
  -webkit-text-stroke: 1px black;
}

.about {
  font-family: var(--neue-family);
  color: white;
  font-size: 3vw;
  padding-top: 3vw;
}

.bio-container {
  margin: 2.5rem 1rem 1rem;
  transform: skew(-3deg, -12deg);
}

.languagelink {
  width: 5vw;
  height: auto;
  margin: 0 .75vw 0 0;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1.75rem;
  filter: var(--dropshadow);
  padding-bottom: 10vw;

  .socials-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    transform: skewX(3deg);
    margin-left: -1rem;

    a {
      font-family: var(--condensedblack-family);
      font-size: 4vw;
      color: black;
      background-color: var(--peach-color);
      transform: skewX(-3deg);
      padding: .75vw 4vw;
      outline: 1px solid black;
      margin-top: .75rem;
      text-decoration: none;
    }
  }

  .reachout-button {
    background-color: var(--purple-color);
    border-radius: 100px;
    color: black;
    border: none;
    font-family: var(--condensedblack-family);
    font-size: 3vw;
    padding: 2vw 3vw;
    cursor: pointer;
    text-decoration: none;
  }
}