.projects {
  background-color: var(--purple-color) ;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.project-container {
  transform: skew(-4deg, -15deg);
  background-color: var(--peach-color);
  width: 80vw;
  z-index: 0;

  h2 {
    font-family: var(--condensedblack-family);
    transform: skew(4deg, 15deg);
    text-align: right;
    font-size: 15vw;
    margin: 2rem 1rem;
    -webkit-text-stroke: 2px black;
    color: white;
    margin-bottom: 0;
  }
}

.hero-project-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: skew(4deg, 15deg);

  .hero-project-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 70vw;
      transform: skew(-4deg, 0deg);
      border: 1px solid black;
      cursor: pointer;
    }

    p {
      font-family: var(--neue-family);
      font-size: 2vw;
      margin: 0;
      cursor: pointer;
    }
  }
}