.projects {
  background-color: var(--purple-color) ;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.projectcontainer {
  transform: skew(-4deg, -15deg);
  background-color: var(--peach-color);
  width: 80vw;
  z-index: 0;

  h2 {
    font-family: var(--condensedblack-family);
    transform: skew(4deg, 15deg);
    text-align: right;
    font-size: 15vw;
    margin: 2rem 1rem;
    -webkit-text-stroke: 2px black;
    color: white;
  }
}