:root {
    --green-color: #043602;
    --peach-color: #FF6868;
    --neue-family: helveticaneue, helvetica, sans-serif;
    --condensedblack-family: helveticaneue-condensedblack, helvetica, sans-serif;
}